.signin-view {
  .ui.inline.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::before {
      width: 100px;
      height: 100px;
    }

    &::after {
      width: 100px;
      height: 100px;
    }
  }
}
