.widget {
  max-height: fit-content;
  display: flex;

  .station-prop {
    opacity: 60%;
  }

  .ui.button {
    padding: 10px;
    height: fit-content;
    width: fit-content;
  }

  .remove-button {
    padding: 5px;
    opacity: 60%;
  }

  .ui.card {
    max-height: 200px;
    overflow-y: auto;
  }
}